@model IEnumerable<InterGalacticConflict.Models.Planets.PlanetIndexViewModel>

@{
    int rowNumber = 1;
}
<div><a asp-action="create" asp-controller="Planets" class="btn btn-primary">CONQUER NEW PLANET TO ADD TO THE EMPIRE</a></div>

<div class="h1">Planet Count</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                
                <th scope="col">Id</th>
                <th scope="col">Planet Name</th>
                <th scope="col">Planet Type</th>
                <th scope="col">Amount of Cities</th>
                <th scope="col">In what Galaxy</th>
                <th scope="col">Current Status</th>
                <th scope="col">Population size</th>
                <th scope="col">Capital of planet</th

            </tr>
        </thead>
        <tbody>
            @foreach (var planet in Model)
            {


                <tr>
                    @*Later, once images have been implemented, agg images here as well*@
                    <td>@rowNumber</td>
                    <td>@planet.Id</td>
                    <td>@planet.PlanetName</td>
                    <td>@planet.PlanetType</td>
                    <td>@planet.PlanetPopulation</td>
                    <td>@planet.PlanetStatus</td>
                    <td>@planet.Major_cities</td>
                    <td>@planet.CapitalCity</td>
                    <td>@planet.GalaxyID</td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
</form>
