@model IEnumerable<InterGalacticConflict.Models.Planets.PlanetIndexViewModel>

@{
    int rowNumber = 1;
}
<div>
    <a asp-action="Add" asp-controller="Planets" type="submit" class="btn btn-primary">Add new Ship</a>
    <a asp-action="Create" asp-controller="Planets" class="btn btn-primary">Create new Ship</a>

</div>
@*User can build ship using ADD function, to obatin a new Ship. In Controller, this is called "CreateShip"*@

<div class="h1">Planet Count</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                @*Later, once images have been implemented, agg images here as well*@
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Experience</th>
                <th scope="col">Admin Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ship in Model)
            {




                <tr>
                    @*Later, once images have been implemented, agg images here as well*@
                    <td>@rowNumber</td>
                    <td>@ship.PlanetName</td>
                    <td>@ship.PlanetPopulation</td>
                    <td>@ship.PlanetType</td>
                    <td>@ship.PlanetResouces</td>
                    <td>
                        <a asp-action="details" asp-controller="Ships" asp-route-id="@ship.Id" class="btn btn-info">Ship Details</a>
                        <br />
                        <a asp-action="update" asp-controller="Ships" asp-route-id="@ship.Id" class="btn btn-info">ShipConfigure</a>
                        <br />
                        <a asp-action="delete" asp-controller="Ships" asp-route-id="@ship.Id" class="btn btn-info">Delete Ship</a>
                    </td>

                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
</form>
@*Missing Button for player profile*@
@*Missing Button for Galaxy page*@
@*Missing Button for Player activity*@