@model IEnumerable<InterGalacticConflict.Models.Planets.PlanetIndexViewModel>

@{
    int rowNumber = 1;
}
<div><a asp-action="create" asp-controller="Planets" type="submit" class="btn btn-primary">CONQUER NEW PLANET TO ADD TO THE EMPIRE</a></div>

<div class="h1">Planet Count</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Planet Name</th>
                <th scope="col">Planet Type</th>
                <th scope="col">Population</th>
                <th scope="col">Cities</th>
                <th scope="col">Capital</th>
                <th scope="col">SpaceStations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var planet in Model)
            {


                <tr>
                    @*Later, once images have been implemented, agg images here as well*@
                    <td>@rowNumber</td>
                    <td>@planet.ID</td>
                    <td>@planet.PlanetName</td>
                    <td>@planet.PlanetType</td>
                    <td>@planet.PlanetPopulation</td>
                    <td>@planet.Major_cities</td>
                    <td>@planet.CapitalCity</td>
                    <td>@planet.GalaxyID</td>
                    <td>@planet.SpaceStation</td>
                    <td>
                        <a asp-action="details" asp-controller="Planets" asp-route-id="@planet.ID" class="btn btn-info">Planet Details</a>
                        <br />
                        <a asp-action="modify" asp-controller="Planets" asp-route-id="@planet.ID" class="btn btn-info">Modify planet</a>
                        <br />
                        <a asp-action="delete" asp-controller="Planets" asp-route-id="@planet.ID" class="btn btn-info">Abandon Planet</a>
                    </td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
</form>
