@model IEnumerable<InterGalacticConflict.Models.Planets.PlanetIndexViewModel>

@{
    int rowNumber = 1;
}
<div><a asp-action="Create" asp-controller="Planets" class="btn btn-primary">CONQUER NEW PLANET TO ADD TO THE EMPIRE</a></div>

<div class="h1">Plane Count</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                @*Later, once images have been implemented, agg images here as well*@
                
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Cities</th>
                <th scope="col">Galaxy</th>
                <th scope="col">Status</th>
                <th scope="col">SpaceStation</th>
                <th scope="col">Population</th>
                <th scope="col">Capital</th

            </tr>
        </thead>
        <tbody>
            @foreach (var planet in Model)
            {


                <tr>
                    @*Later, once images have been implemented, agg images here as well*@
                    <td>@rowNumber</td>
                    <td>@planet.Id</td>
                    <td>@planet.PlanetName</td>
                    <td>@planet.PlanetType</td>
                    <td>@planet.PlanetPopulation</td>
                    <td>@planet.PlanetStatus</td>
                    <td>@planet.Major_cities</td>
                    <td>@planet.CapitalCity</td>
                    <td>@planet.GalaxyID</td>
                    <td>@planet.SpaceStation</td>
                    <td>
                        <a asp-action="details" asp-controller="Ships" asp-route-id="@planet.Id" class="btn btn-info">Ship Details</a>
                        <br />
                    </td>

                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
</form>
